.popular {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 960px) {
        margin: 20px auto;
    }

    h1 {
        flex: 2;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    .bottom {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        @media (max-width: 960px) {
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
        }

        @media (max-width: 768px) {
            flex-wrap: wrap;
            align-items: center;
        }
    }

}

